pipeline/Curationprocessor.json
{
	"name": "Curationprocessor",
	"properties": {
		"activities": [
			{
				"name": "parmlookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "stagedest",
						"type": "DatasetReference",
						"parameters": {
							"filecontainer": {
								"value": "@pipeline().parameters.triggerfolder",
								"type": "Expression"
							},
							"filepath": {
								"value": "@pipeline().parameters.triggerfile",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "Spark1",
				"type": "HDInsightSpark",
				"dependsOn": [
					{
						"activity": "parmlookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"rootPath": "jars",
					"entryFilePath": "sample-1.0-SNAPSHOT.jar",
					"arguments": [
						"@activity('parmlookup').output.firstRow.Prop_0",
						"@activity('parmlookup').output.firstRow.Prop_2",
						"@activity('parmlookup').output.firstRow.Prop_1"
					],
					"className": "com.prad.legend.blooper",
					"sparkJobLinkedService": {
						"referenceName": "BlobLinkedservice",
						"type": "LinkedServiceReference"
					}
				},
				"linkedServiceName": {
					"referenceName": "HDInsightlinkedService",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"triggerfolder": {
				"type": "string",
				"defaultValue": "defailtval"
			},
			"triggerfile": {
				"type": "string",
				"defaultValue": "defailtval"
			}
		},
		"annotations": []
	}
}