pipeline/Stage1-Workflow.json
{
	"name": "Stage1-Workflow",
	"properties": {
		"activities": [
			{
				"name": "SanityCheck",
				"type": "AzureFunctionActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "BlobValidator",
					"method": "GET",
					"headers": {
						"containername": {
							"value": "@pipeline().parameters.sourcepath",
							"type": "Expression"
						},
						"filename": {
							"value": "@pipeline().parameters.sourcefile",
							"type": "Expression"
						}
					},
					"body": ""
				},
				"linkedServiceName": {
					"referenceName": "SanityAzureFunction",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ParameterLookup",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SanityCheck",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ParmDS",
						"type": "DatasetReference",
						"parameters": {
							"filecontainer": "@activity('SanityCheck').output.map.parmcontainer",
							"filepath": "@activity('SanityCheck').output.map.parmloc"
						}
					},
					"firstRowOnly": true
				}
			}
		],
		"parameters": {
			"sourcefile": {
				"type": "string",
				"defaultValue": "tmpsrcfile"
			},
			"sourcepath": {
				"type": "string",
				"defaultValue": "tmpsrcpath"
			}
		},
		"annotations": []
	}
}