pdp-ADF-processing-framework/PartialArmTemplates/ArmTemplate_4_15_2020_9_10_45.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "pdp-ADF-processing-framework"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/stage2-workflow')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "parmlookup",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "stagedest",
								"type": "DatasetReference",
								"parameters": {
									"filecontainer": {
										"value": "@pipeline().parameters.triggerfolder",
										"type": "Expression"
									},
									"filepath": {
										"value": "@pipeline().parameters.triggerfile",
										"type": "Expression"
									}
								}
							}
						}
					},
					{
						"name": "curationprocessor",
						"type": "HDInsightSpark",
						"dependsOn": [
							{
								"activity": "parmlookup",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"rootPath": "jars@pradeepdatalake.dfs.core.windows.net/",
							"entryFilePath": "sample-1.0-SNAPSHOT.jar",
							"arguments": [
								"@activity('parmlookup').output.firstRow.Prop_0",
								"@activity('parmlookup').output.firstRow.Prop_2",
								"@activity('parmlookup').output.firstRow.Prop_1"
							],
							"getDebugInfo": "Always",
							"className": "com.prad.legend.blooper",
							"sparkConfig": {
								"spark.driver.cores": "2",
								"spark.driver.memory": "1g"
							},
							"sparkJobLinkedService": {
								"referenceName": "BlobLinkedservice",
								"type": "LinkedServiceReference"
							}
						},
						"linkedServiceName": {
							"referenceName": "HDInsightlinkedService",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"triggerfolder": {
						"type": "string",
						"defaultValue": "defailtval"
					},
					"triggerfile": {
						"type": "string",
						"defaultValue": "defailtval"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}