pdp-ADF-processing-framework/PartialArmTemplates/ArmTemplate_4_11_2020_17_6_13.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "pdp-ADF-processing-framework"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ParmDS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BlobLinkedservice",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filecontainer": {
						"type": "string",
						"defaultValue": "@activity('SanityCheck').output.map.parmcontainer"
					},
					"filepath": {
						"type": "string",
						"defaultValue": "@activity('SanityCheck').output.map.parmloc"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().filepath",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().filecontainer",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Stage1-Workflow')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SanityCheck",
						"type": "AzureFunctionActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "BlobValidator",
							"method": "GET",
							"headers": {
								"containername": {
									"value": "@pipeline().parameters.sourcepath",
									"type": "Expression"
								},
								"filename": {
									"value": "@pipeline().parameters.sourcefile",
									"type": "Expression"
								}
							},
							"body": ""
						},
						"linkedServiceName": {
							"referenceName": "SanityAzureFunction",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ParameterLookup",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "SanityCheck",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "ParmDS",
								"type": "DatasetReference",
								"parameters": {
									"filecontainer": "@activity(\"SanityCheck\").output.map.parmcontainer",
									"filepath": "@activity(\"SanityCheck\").output.map.parmloc"
								}
							},
							"firstRowOnly": true
						}
					}
				],
				"parameters": {
					"sourcefile": {
						"type": "string",
						"defaultValue": "tmpsrcfile"
					},
					"sourcepath": {
						"type": "string",
						"defaultValue": "tmpsrcpath"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ParmDS')]"
			]
		}
	]
}